

#appContainer{
  display: flex;
  flex-direction: row;
  background-color: #1B2838;
}

#leftSide{
  flex: 1;
}

#rightSide{
  flex: 1;
}

.App{
  width: 940px;
  align-self: center;
  display: flex;
  flex-direction: row;
}

#infoCol{
  flex: 2;
  display: flex;
  flex-direction: column;
}

#pannelCol{
  flex: 1;
  display: flex;
  flex-direction: column;
}
