.darkbox{
  background-image: linear-gradient(to right, rgb(21,32,45), rgb(16,24,33));
  border: 3px solid red;
  color: #ACB2B8;
  padding: 12px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 22px;
  margin-left: 16px;
  max-width: 308px;
}

